@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-manrope), sans-serif;
}

@theme inline {
  --font-cormorant: var(--font-cormorant);

  --color-background: #d9d9d7;
  --color-foreground: #0d0d0b;

  --color-primary: #3f3f37;
  --color-primary-100: #d9d9d7;
  --color-primary-200: #b2b2af;
  --color-primary-300: #8c8c87;
  --color-primary-400: #65655f;
  --color-primary-500: #32322c;
  --color-primary-600: #262621;
  --color-primary-700: #191916;
  --color-primary-800: #0d0d0b;
  --color-primary-900: #060606;

  --color-accent: #d6d6b1;
}
